# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/OpenGL Test/FileContentIndex
/.vs/OpenGL Test/v17/ipch/AutoPCH
/.vs/OpenGL Test/v17
/.vs
/OpenGL Test/x64/Debug
*.filters
*.user
/x64/Debug
/OpenGL Test/src/vendor/GLM/detail
/OpenGL Test/src/vendor/GLM/ext
/OpenGL Test/src/vendor/GLM/vector_relational.hpp
/OpenGL Test/src/vendor/GLM/vec4.hpp
/OpenGL Test/src/vendor/GLM/vec3.hpp
/OpenGL Test/src/vendor/GLM/vec2.hpp
/OpenGL Test/src/vendor/GLM/trigonometric.hpp
/OpenGL Test/src/vendor/GLM/packing.hpp
/OpenGL Test/src/vendor/GLM/matrix.hpp
/OpenGL Test/src/vendor/GLM/mat4x4.hpp
/OpenGL Test/src/vendor/GLM/mat4x3.hpp
/OpenGL Test/src/vendor/GLM/mat4x2.hpp
/OpenGL Test/src/vendor/GLM/mat3x4.hpp
/OpenGL Test/src/vendor/GLM/mat3x3.hpp
/OpenGL Test/src/vendor/GLM/mat3x2.hpp
/OpenGL Test/src/vendor/GLM/mat2x4.hpp
/OpenGL Test/src/vendor/GLM/mat2x3.hpp
/OpenGL Test/src/vendor/GLM/mat2x2.hpp
/OpenGL Test/src/vendor/GLM/integer.hpp
/OpenGL Test/src/vendor/GLM/glm.hpp
/OpenGL Test/src/vendor/GLM/geometric.hpp
/OpenGL Test/src/vendor/GLM/fwd.hpp
/OpenGL Test/src/vendor/GLM/ext.hpp
/OpenGL Test/src/vendor/GLM/exponential.hpp
/OpenGL Test/src/vendor/GLM/common.hpp
/OpenGL Test/src/vendor/GLM/CMakeLists.txt
/OpenGL Test/src/vendor/GLM/simd
/OpenGL Test/src/vendor/GLM/gtx
/OpenGL Test/src/vendor/GLM/gtc
/OpenGL Test/src/vendor/stb_image/stb_image.h
/OpenGL Test/src/vendor/stb_image/stb_image.cpp
/OpenGL Test/Dependencies/GLFW/include/GLFW/glfw3native.h
/OpenGL Test/Dependencies/GLFW/include/GLFW/glfw3.h
/OpenGL Test/Dependencies/GLEW/include/GL/wglew.h
/OpenGL Test/Dependencies/GLEW/include/GL/glxew.h
/OpenGL Test/Dependencies/GLEW/include/GL/glew.h
/OpenGL Test/Dependencies/GLEW/include/GL/eglew.h
/OpenGL Test/src/vendor/ImGui/imstb_truetype.h
/OpenGL Test/src/vendor/ImGui/imstb_textedit.h
/OpenGL Test/src/vendor/ImGui/imstb_rectpack.h
/OpenGL Test/src/vendor/ImGui/imgui_widgets.cpp
/OpenGL Test/src/vendor/ImGui/imgui_tables.cpp
/OpenGL Test/src/vendor/ImGui/imgui_internal.h
/OpenGL Test/src/vendor/ImGui/imgui_impl_opengl3_loader.h
/OpenGL Test/src/vendor/ImGui/imgui_impl_opengl3.h
/OpenGL Test/src/vendor/ImGui/imgui_impl_opengl3.cpp
/OpenGL Test/src/vendor/ImGui/imgui_impl_glfw.h
/OpenGL Test/src/vendor/ImGui/imgui_impl_glfw.cpp
/OpenGL Test/src/vendor/ImGui/imgui_draw.cpp
/OpenGL Test/src/vendor/ImGui/imgui_demo.cpp
/OpenGL Test/src/vendor/ImGui/imgui.h
/OpenGL Test/src/vendor/ImGui/imgui.cpp
/OpenGL Test/src/vendor/ImGui/imconfig.h
/OpenGL Test/src/vendor/ImGui/example.cpp
/OpenGL Test/x64/Release
/OpenGL Test/imgui.ini
