# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/OpenGL Test/FileContentIndex
/.vs/OpenGL Test/v17/ipch/AutoPCH
/.vs/OpenGL Test/v17
/.vs
/OpenGL Test/x64/Debug
*.filters
*.user
/x64/Debug
